{% extends 'paper/base.html' %}
{% load static %}
{% block table %}
    <!--  Основна частин, що потрібно копіювати в файл -->
    <div id="page-wrapper">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Статистика віку доповідачів</h1>
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <!-- /.row -->
        <div class="row">
            <!-- /.col-lg-6 -->
            <!-- /.col-lg-6 -->
            <!-- /.col-lg-6 -->
            <form  method="get" class="form-group col-lg-2">
                <label>{{ insert_age.form.year.label }}</label>
                <div class="checkbox">
                    {{ insert_age.form.year }}
                </div>
                <label>{{ insert_age.form.theme.label }}</label>
                <div class="checkbox">
                    {{ insert_age.form.theme }}
                </div>
                <button type="submit" class="btn btn-primary">Сортувати</button>
            </form>

            <div class="col-lg-7">

                <!-- /.panel-heading -->
                <div class="panel-body">
                    <div id="st_age"></div>
                </div>
                <!-- /.panel-body -->

                <!-- /.panel -->
            </div>
            <!-- /.col-lg-6 -->
            <!-- /.col-lg-6 -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /#page-wrapper -->



{% endblock table %}


{% block script %}

    <script>

        $(function() {

            Morris.Donut({
                element: 'st_age',
                data: [
                    {% for age in insert_age.qs %}
                        {
                            label: {{ today.year }} - {{age.user__profile__birthday__year }} ,
                            value: {{ age.age_sum }}
                        }
                        {% if not forloop.last %},{% endif %}
                    {% endfor %}
                ],
                resize: true,
                {#formatter: function (y, value) {return y + '%'}#}
            });


        });
    </script>

{% endblock script %}
